<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Главная страница</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css') }}">

</head>

<body>
<section class="top-area">
    <div class="header-area">
        <nav class="navbar navbar-default bootsnav navbar-sticky navbar-scrollspy" data-minus-value-desktop="70"
             data-minus-value-mobile="55" data-speed="1000">

            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="index.html">Dolphin<span>Rieltor</span></a>

                </div>
                <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="scroll"><a href="">Домашняя страница</a></li>

                        {% if not is_authed %}
                        <li class="scroll only_for_quest"><a href="/auth">Авторизоваться</a></li>
                        {% endif %}

                        {% if is_authed %}
                        <li class="scroll only_for_authed"><a href="/profile">Личный кабинет</a>
                        </li>
                        <li class="scroll only_for_authed"><a href="/logout">Выйти</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

    </div>

</section>
<section id="home" class="welcome-hero">
    <div class="container">
        <div class="welcome-hero-txt">
            <h2>Лучшее место, чтобы<br> найти доступное жильё</h2>
            <p>
                Найдите лучшую квартиру, дом, загородную виллу.
            </p>
        </div>
        <div class="welcome-hero-search-box">
            <div class="welcome-hero-form">
                <div class="single-welcome-hero-form">
                    <form method="get" action="/search">
                    <h4>Что ищем?</h4>
                        <hr>
                        <select class="housings_types_select" name="selected_housing_type">
                            {% for housing_type in housings_types %}
                            <option value="{{ housing_type.variables.id }}">{{ housing_type['name'] }}</option>
                            {% endfor %}
                        </select>
                </div>
                <div class="single-welcome-hero-form">
                    <h4>Страна: </h4>
                    <hr>
                        <select class="settlements_select" name="selected_country">
                            {% for country in countries %}
                            <option value="{{ country['id'] }}">{{ country['name'] }}</option>
                            {% endfor %}
                        </select>
                </div>
            </div>
            <div class="welcome-hero-serch">
                <button class="welcome-hero-btn" type="submit">
                    Найти
                </button>
            </div>
            </form>
        </div>
    </div>

</section>
<section id="list-topics" class="list-topics">
    <div class="container">
        <div class="list-topics-content">
            <ul style="text-align: center;">
                {% for housing_type in housings_types %}
                <li>
                    <div class="single-list-topics-content" onclick="window.location.href='/search?selected_housing_type={{ housing_type.variables.id }}'">
                        <img class="icon_logo" style="width: 50px; height: 50px;" src="/static/images/{{ housing_type['variables']['icon'] }}"/>
                        <h2><a href="#">{{ housing_type['name'] }}</a></h2>
                        <p>{{ housing_type['variables']['count'] }}</p>
                        <p>{{ housing_type['variables']['description'] }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</section>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>

</html>