<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
</head>
<body>
<section class="top-area">
    <div class="header-area">
        <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy" data-minus-value-desktop="70"
             data-minus-value-mobile="55" data-speed="1000">

            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">Dolphin<span>Rieltor</span></a>

                </div>
                <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="scroll"><a href="/">Домашняя страница</a></li>
                        <li class="scroll"><a href="/profile">Объявления</a></li>
                        <li class="scroll"><a href="/renter_history">История аренды</a></li>
                        <li class="scroll only_for_authed"><a href="/my_housings">Жильё</a></li>
                        <li class="scroll only_for_authed"><a href="/logout">Выйти</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</section>
<br>
<div class="main" align="center">
    <img class="pf" src="/static/images/profile.jpg"/>
    <div class="contain">
        <div class="i_space"></div>
        <h2 class="title">{{ user.username }}</h2>
        <h3>Отчёт об аренде</h3>
        <p class="summary">
            <h4>Общий доход за указанный период: {{ sum }} рублей</h4>

            <hr>
            <h5>Период: </h5>
            <p>От: <input type="date" id="date_start" name="date_start" value="{{ date_start }}" min="2010-01-01" max="2050-12-31" disabled /></p>
            <p>До: <input type="date" id="date_end" name="date_end" value="{{ date_end }}" min="2010-01-01" max="2050-12-31" disabled /></p>
        </p>
    </div>
    <div class="contain_2">
        <h4>Общий доход по недвижимостям</h4>
        <div id='sum_pie'></div>

        <h4>Средний доход по недвижимостям</h4>
        <div id='avg_pie'></div>
    </div>

    <div class="contain_2">
        {% for log in logs %}
            <div class="column">
                <div class="i_contain" onclick="window.location.href='/view_housing?housing_id={{ log.housing_id }}'">
                    <div class="i_cards">
                        <h2 class="i_title">{{ log.housing_name }}</h2>
                        {% if log.rent_end > today %}
                        <p class="i_summary" style="color: green;">
                            Аренда действует
                        </p>
                        {% else %}
                        <p class="i_summary" style="color: gray;">
                            Аренда завершена
                        </p>
                        {% endif %}
                        <p class="i_summary">Съемщик: {{ log.renter_name }}</p>
                        <p class="i_summary">Цена аренды: {{ log.price }} рублей</p>
                        <p class="i_summary">Дата начала аренды: {{ log.rent_start }}</p>
                        <p class="i_summary">Дата конца аренды: {{ log.rent_end }}</p>
                    </div>
                </div>

        </div>
        {% endfor %}
    </div>
</div>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plotly.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/analytic_report.js') }}"></script>
</body>
</html>