<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
</head>
<body>
<section class="top-area">
    <div class="header-area">
        <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy" data-minus-value-desktop="70"
             data-minus-value-mobile="55" data-speed="1000">

            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">Dolphin<span>Rieltor</span></a>

                </div>
                <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="scroll"><a href="/">Домашняя страница</a></li>
                        <li class="scroll only_for_authed"><a href="/my_housings">Жильё</a></li>
                        <li class="scroll only_for_authed"><a href="/landlord_history">История сдачи в аренду</a></li>
                        <li class="scroll only_for_authed"><a href="/landlord_analytics">Аналитика</a></li>
                        <li class="scroll only_for_authed"><a href="/logout">Выйти</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</section>
<br>
<div class="main" align="center">
    <img class="pf" src="/static/images/profile.jpg"/>
    <div class="contain">
        <div class="i_space"></div>
        <h2 class="title">{{ user.username }}</h2>
        <h3>{{ user.first_name if user.first_name else '' }} {{ user.second_name if user.second_name else '' }}</h3>
        <p class="summary">
            <form method="post" action="/update_profile">
            <h4>Способы связи: </h4>
            <hr>
            <p>Номер телефона:</p>
            <p><input type="text" value="{{ user.phone_number if user.phone_number else '' }}" name="phone_number"></p>
            <p>Электронная почта:</p>
            <p><input type="text" value="{{ user.email if user.email else '' }}" name="email"></p>
            {% if user.id == visitor.id %}

            <button type="submit" class="link_button">Обновить данные профиля</button>
            {% endif %}
            <hr>
            </form>
        </p>
    </div>
    <div class="contain_2">
        <div class="row">
            {% for record in records %}
            {% if (user.id == visitor.id) or (record[0].current_status == 'Active') %}
            <div class="column">
                <div class="i_contain" onclick="window.location.href='/view_record?record_id={{ record[0].id }}'">
                    <div class="i_cards">
                        <img class="icon_logo" src="/static/images/{{ record[2].icon }}"/>
                        <h2 class="i_title">{{ record[0].title }}</h2>
                        {% if record[0].current_status == 'Hidden' %}
                        <p class="i_summary" style="color: gray;">Объявление скрыто</p>
                        {% endif %}
                        <p class="i_summary">{{ record[0].description }}</p>
                        <p class="i_summary">Цена: {{ record[0].price }} рублей</p>
                        <p class="i_summary">Дата создания: {{ record[0].created_date }}</p>
                        <p class="i_summary">Время последнего изменения: {{ record[0].updated_time }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

        </div>
    </div>
</div>
</body>
</html>