<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css') }}">
</head>
<body>
<section class="top-area">
    <div class="header-area">
        <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy" data-minus-value-desktop="70"
             data-minus-value-mobile="55" data-speed="1000">

            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">Dolphin<span>Rieltor</span></a>

                </div>
                <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="scroll"><a href="/">Домашняя страница</a></li>
                        <li class="scroll only_for_authed"><a href="/logout">Объявления</a></li>
                        <li class="scroll only_for_authed"><a href="/profile">Личный кабинет</a></li>
                        <li class="scroll only_for_authed"><a href="/logout">Выйти</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</section>
<br>
<div class="main" align="center">
    <img class="pf" src="/static/images/{{ housing_icon }}"/>
    <div class="contain">
        <div class="i_space"></div>
        <h2 class="title">{{ housing.name }}</h2>
        <p class="summary">
            <span>{{ housing.description }}</span>
            <hr>
            <h4>Адрес: </h4>
            <hr>
            <p>Страна: {{address.country.name}} </p>
            <p>Нас. пункт: {{address.settlement.name}} </p>
            <p>Улица: {{address.street.name}} </p>
            <p>Номер дома: {{address.house_number}} </p>
            <p>Номер квартиры: {{address.department_number if address.department_number else 'Не указано'}} </p>
            <hr>
            <h4>Удобства: </h4>
            <hr>
            {% for comfort in comforts %}

            <p> {{ comfort.name}}: {{ comfort.value }} {{ comfort.unit_short }} ({{ comfort.unit }})</p>
            <p> {{ comfort.description }} </p>

            {% endfor %}
        </p>
        <hr>
        {% if is_owner %}
        <button class="interact_housing_button link_button" onclick="window.location.href='/remove_housing?housing_id={{ housing.id }}'">
            Удалить недвижимость
        </button>
        <button class="interact_housing_button link_button" onclick="window.location.href='/change_housing?housing_id={{ housing.id }}'">Изменить недвижимость</button>
        <button class="interact_housing_button link_button" onclick="window.location.href='/create_record?housing_id={{ housing.id }}'">Создать объявление</button>

        {% endif %}
    </div>
</div>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
</body>
</html>