<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css') }}">
</head>
<body>
<section class="top-area">
    <div class="header-area">
        <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy" data-minus-value-desktop="70"
             data-minus-value-mobile="55" data-speed="1000">

            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">Dolphin<span>Rieltor</span></a>

                </div>
                <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="scroll"><a href="/">Домашняя страница</a></li>
                        <li class="scroll only_for_authed"><a href="/logout">Объявления</a></li>
                        <li class="scroll only_for_authed"><a href="/profile">Личный кабинет</a></li>
                        <li class="scroll only_for_authed"><a href="/logout">Выйти</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</section>
<br>
<div class="main" align="center">
    <img class="pf" src="/static/images/article_icon.png"/>
    <div class="contain">
        <div class="i_space"></div>
        <hr>
        <h2 class="title">{{ record.title }}</h2>
        {% if record.current_status == 'Hidden' %}
        <span style='color="gray"'>
            Объявление скрыто
        </span>
        {% endif %}
        <p class="summary">
            {{ record.description }}
        </p>
        <p>Цена: {{ record.price }}</p>
        <hr>
        <h4>Способы связи: </h4>

        <p>Номер телефона: {{user.phone_number if user.phone_number else 'Не указан'}}</p>
        <p>Электронная почта: {{user.email if user.email else 'Не указана'}}</p>

        <hr>

        <button class="interact_housing_button link_button" onclick="window.location.href='/view_housing?housing_id={{ record.housing_id }}'">Посмотреть жильё</button>

        {% if is_owner and record.current_status == 'Hidden' %}
        <button class="interact_housing_button link_button" onclick="window.location.href='/activate_record?record_id={{ record.id }}'">Активировать объявление</button>
        {% endif %}

        {% if is_owner and record.current_status != 'Hidden' %}
        <button class="interact_housing_button link_button" onclick="window.location.href='/hide_record?record_id={{ record.id }}'">Деактивировать объявление</button>
        {% endif %}

        <button class="interact_housing_button link_button" onclick="window.location.href='/profile?user_id={{ user.id }}'">Посмотреть профиль</button>

    </div>
</div>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
</body>
</html>